<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <a href="/artists">&larr; Back to artists page</a>
        </div>
        <h1>ADD ARTIST TO DATABASE</h1>
        <div class="mt-3">
            <form action="/spotify/get/artist" method="POST">
                <!-- <div class="row mb-2">
                    <div class="col-6">
                        <label class="form-label">Song name</label>
                        <input type="text" class="form-control" name="name">
                      </div>
                      <div class="col-6">
                        <label class="form-label">Actor</label>
                        <input type="text" class="form-control" name="actor">
                    </div>
                </div> -->
                <div class="mb-3 col-12">
                    <label class="form-label">Token</label>
                    <input type="text" class="form-control" name="token">
                </div>
                <div class="mb-3 col-12">
                    <label class="form-label">Artist spotify id</label>
                    <input type="text" class="form-control" name="spotifyId">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/spotify/get/token" class="btn btn-primary">Get Token</a>
            </form>
        </div>
    </div>
</body>
</html>